In [1]:
import pandas as pd

df = pd.read_csv("music.csv")
df["Music"].unique()

array(['hip-pop', 'high-life', 'country-side', 'afro-beat'], dtype=object)

In [2]:
df["Music"] = df["Music"].map({"high-life": "country-side", 
                               "hip-pop": "hip-pop", 
                               "country-side": "country-side",
                               "afro-beat": "hip-pop"})
df["Music"].unique()

array(['hip-pop', 'country-side'], dtype=object)

In [3]:
len(df)

485

In [4]:
df["Music"].value_counts()

Music
country-side    310
hip-pop         175
Name: count, dtype: int64

In [5]:
import random
gender = []
for _ in range(len(df)):
    gender_choice = random.choice(["Male", "Female"])
    gender.append(gender_choice)
    
len(gender)

485

In [6]:
df.insert(1, "Gender", gender)

In [7]:
df.head(2)

   Age  Gender    Music
0   23  Female  hip-pop
1   24    Male  hip-pop

In [8]:
shuffled_df = df.sample(frac=1, ignore_index=True)
shuffled_df.head(3)

   Age  Gender         Music
0   32    Male       hip-pop
1   43  Female  country-side
2   24  Female       hip-pop

In [9]:
shuffled_df.to_csv("music_preference.csv")