In [1]:
import pandas as pd

# Part 1: Datasets Combination

## Load the datasets and check the number of columns of each dataset

In [2]:
columns_to_retain = ['SEQN', 'SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDRETH1', 'RIDRETH3', 'RIDEXMON', 'DMDBORN4', 
                     'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'AIALANGA', 'DMDHHSIZ', 'DMDFMSIZ', 'DMDHHSZA', 'DMDHHSZB', 
                     'DMDHHSZE', 'DMDHRGND', 'DMDHRAGE', 'DMDHRBR4', 'DMDHREDU', 'DMDHRMAR', 'DMDHSEDU', 'WTINT2YR', 'WTMEC2YR',
                     'SDMVPSU', 'SDMVSTRA', 'INDHHIN2', 'INDFMIN2', 'INDFMPIR', 'DMQMILIZ']

len(columns_to_retain)

32

In [3]:
df2014 = pd.read_sas("Demographic Variables_2014.XPT")

demo_2014 = df2014[columns_to_retain]

demo_2014 = demo_2014.fillna(demo_2014.median()).round()

In [4]:
df2015 = pd.read_sas("Demographic Variables_2015.XPT")

demo_2015 = df2015[columns_to_retain]

demo_2015 = demo_2015.fillna(demo_2015.median()).round()

In [5]:
df2017 = pd.read_sas("Demographic Variables_2017.XPT")

demo_2017 = df2017[columns_to_retain]

demo_2017 = demo_2017.fillna(demo_2017.median()).round()

## Since the SEQN column is the identifier among the datasets, lets check that they are continous

In [6]:
print(demo_2014.SEQN.tail(1).tolist()[0])
print(demo_2015.SEQN.head(1).tolist()[0])
print(demo_2015.SEQN.tail(1).tolist()[0])
print(demo_2017.SEQN.head(1).tolist()[0])

71916.0
73557.0
83731.0
83732.0

## Now let's combine the three datasets into one

In [7]:
df = pd.concat([demo_2014, demo_2015, demo_2017], ignore_index=True, axis=0)

In [8]:
print("Number of rows after joining the datasets should be:", len(df2014) + len(df2015) + len(df2017))

Number of rows after joining the datasets should be: 29902

In [9]:
df

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDRETH1,RIDRETH3,RIDEXMON,DMDBORN4,DMDCITZN,...,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR,DMQMILIZ
0,62161.0,7.0,2.0,1.0,22.0,3.0,3.0,2.0,1.0,1.0,...,1.0,5.0,102641.0,104237.0,1.0,91.0,14.0,14.0,3.0,2.0
1,62162.0,7.0,2.0,2.0,3.0,1.0,1.0,1.0,1.0,1.0,...,6.0,4.0,15458.0,16116.0,3.0,92.0,4.0,4.0,1.0,2.0
2,62163.0,7.0,2.0,1.0,14.0,5.0,6.0,2.0,1.0,1.0,...,1.0,4.0,7398.0,7869.0,3.0,90.0,15.0,15.0,4.0,2.0
3,62164.0,7.0,2.0,2.0,44.0,3.0,3.0,1.0,1.0,1.0,...,1.0,4.0,127351.0,127965.0,1.0,94.0,8.0,8.0,2.0,1.0
4,62165.0,7.0,2.0,2.0,14.0,4.0,4.0,2.0,1.0,1.0,...,77.0,4.0,12210.0,13384.0,2.0,90.0,4.0,4.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29897,93698.0,9.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,...,2.0,4.0,9595.0,9896.0,1.0,121.0,6.0,6.0,1.0,2.0
29898,93699.0,9.0,2.0,2.0,6.0,4.0,4.0,2.0,1.0,1.0,...,1.0,4.0,9871.0,9876.0,1.0,129.0,15.0,15.0,5.0,2.0
29899,93700.0,9.0,2.0,1.0,35.0,3.0,3.0,2.0,2.0,2.0,...,1.0,1.0,42314.0,43194.0,1.0,126.0,1.0,1.0,0.0,2.0
29900,93701.0,9.0,2.0,1.0,8.0,3.0,3.0,2.0,1.0,1.0,...,1.0,5.0,42088.0,48253.0,2.0,124.0,15.0,15.0,4.0,2.0
29901,93702.0,9.0,2.0,2.0,24.0,3.0,3.0,2.0,1.0,1.0,...,5.0,4.0,107362.0,105080.0,2.0,119.0,10.0,7.0,4.0,2.0

In [10]:
df.isna().sum()

SEQN        0
SDDSRVYR    0
RIDSTATR    0
RIAGENDR    0
RIDAGEYR    0
RIDRETH1    0
RIDRETH3    0
RIDEXMON    0
DMDBORN4    0
DMDCITZN    0
DMDEDUC2    0
DMDMARTL    0
AIALANGA    0
DMDHHSIZ    0
DMDFMSIZ    0
DMDHHSZA    0
DMDHHSZB    0
DMDHHSZE    0
DMDHRGND    0
DMDHRAGE    0
DMDHRBR4    0
DMDHREDU    0
DMDHRMAR    0
DMDHSEDU    0
WTINT2YR    0
WTMEC2YR    0
SDMVPSU     0
SDMVSTRA    0
INDHHIN2    0
INDFMIN2    0
INDFMPIR    0
DMQMILIZ    0
dtype: int64

In [11]:
df = df.fillna(df.median()).round()

In [12]:
df

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDRETH1,RIDRETH3,RIDEXMON,DMDBORN4,DMDCITZN,...,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR,DMQMILIZ
0,62161.0,7.0,2.0,1.0,22.0,3.0,3.0,2.0,1.0,1.0,...,1.0,5.0,102641.0,104237.0,1.0,91.0,14.0,14.0,3.0,2.0
1,62162.0,7.0,2.0,2.0,3.0,1.0,1.0,1.0,1.0,1.0,...,6.0,4.0,15458.0,16116.0,3.0,92.0,4.0,4.0,1.0,2.0
2,62163.0,7.0,2.0,1.0,14.0,5.0,6.0,2.0,1.0,1.0,...,1.0,4.0,7398.0,7869.0,3.0,90.0,15.0,15.0,4.0,2.0
3,62164.0,7.0,2.0,2.0,44.0,3.0,3.0,1.0,1.0,1.0,...,1.0,4.0,127351.0,127965.0,1.0,94.0,8.0,8.0,2.0,1.0
4,62165.0,7.0,2.0,2.0,14.0,4.0,4.0,2.0,1.0,1.0,...,77.0,4.0,12210.0,13384.0,2.0,90.0,4.0,4.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29897,93698.0,9.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,...,2.0,4.0,9595.0,9896.0,1.0,121.0,6.0,6.0,1.0,2.0
29898,93699.0,9.0,2.0,2.0,6.0,4.0,4.0,2.0,1.0,1.0,...,1.0,4.0,9871.0,9876.0,1.0,129.0,15.0,15.0,5.0,2.0
29899,93700.0,9.0,2.0,1.0,35.0,3.0,3.0,2.0,2.0,2.0,...,1.0,1.0,42314.0,43194.0,1.0,126.0,1.0,1.0,0.0,2.0
29900,93701.0,9.0,2.0,1.0,8.0,3.0,3.0,2.0,1.0,1.0,...,1.0,5.0,42088.0,48253.0,2.0,124.0,15.0,15.0,4.0,2.0
29901,93702.0,9.0,2.0,2.0,24.0,3.0,3.0,2.0,1.0,1.0,...,5.0,4.0,107362.0,105080.0,2.0,119.0,10.0,7.0,4.0,2.0

# Part 2: Data Cleaning

## Check for missing values

In [13]:
df.isna().sum()

SEQN        0
SDDSRVYR    0
RIDSTATR    0
RIAGENDR    0
RIDAGEYR    0
RIDRETH1    0
RIDRETH3    0
RIDEXMON    0
DMDBORN4    0
DMDCITZN    0
DMDEDUC2    0
DMDMARTL    0
AIALANGA    0
DMDHHSIZ    0
DMDFMSIZ    0
DMDHHSZA    0
DMDHHSZB    0
DMDHHSZE    0
DMDHRGND    0
DMDHRAGE    0
DMDHRBR4    0
DMDHREDU    0
DMDHRMAR    0
DMDHSEDU    0
WTINT2YR    0
WTMEC2YR    0
SDMVPSU     0
SDMVSTRA    0
INDHHIN2    0
INDFMIN2    0
INDFMPIR    0
DMQMILIZ    0
dtype: int64

## Drop rows with missing values

### There are several ways of handling missing values in a dataset such as:
1. **Dropping them**,
2. **Filling them up with the mean, median, mode, etc. as the case may be**
3. **Sourcing the missing values**

In [14]:
df.dropna(axis=0, inplace=True)
df

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDRETH1,RIDRETH3,RIDEXMON,DMDBORN4,DMDCITZN,...,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR,DMQMILIZ
0,62161.0,7.0,2.0,1.0,22.0,3.0,3.0,2.0,1.0,1.0,...,1.0,5.0,102641.0,104237.0,1.0,91.0,14.0,14.0,3.0,2.0
1,62162.0,7.0,2.0,2.0,3.0,1.0,1.0,1.0,1.0,1.0,...,6.0,4.0,15458.0,16116.0,3.0,92.0,4.0,4.0,1.0,2.0
2,62163.0,7.0,2.0,1.0,14.0,5.0,6.0,2.0,1.0,1.0,...,1.0,4.0,7398.0,7869.0,3.0,90.0,15.0,15.0,4.0,2.0
3,62164.0,7.0,2.0,2.0,44.0,3.0,3.0,1.0,1.0,1.0,...,1.0,4.0,127351.0,127965.0,1.0,94.0,8.0,8.0,2.0,1.0
4,62165.0,7.0,2.0,2.0,14.0,4.0,4.0,2.0,1.0,1.0,...,77.0,4.0,12210.0,13384.0,2.0,90.0,4.0,4.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29897,93698.0,9.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,...,2.0,4.0,9595.0,9896.0,1.0,121.0,6.0,6.0,1.0,2.0
29898,93699.0,9.0,2.0,2.0,6.0,4.0,4.0,2.0,1.0,1.0,...,1.0,4.0,9871.0,9876.0,1.0,129.0,15.0,15.0,5.0,2.0
29899,93700.0,9.0,2.0,1.0,35.0,3.0,3.0,2.0,2.0,2.0,...,1.0,1.0,42314.0,43194.0,1.0,126.0,1.0,1.0,0.0,2.0
29900,93701.0,9.0,2.0,1.0,8.0,3.0,3.0,2.0,1.0,1.0,...,1.0,5.0,42088.0,48253.0,2.0,124.0,15.0,15.0,4.0,2.0
29901,93702.0,9.0,2.0,2.0,24.0,3.0,3.0,2.0,1.0,1.0,...,5.0,4.0,107362.0,105080.0,2.0,119.0,10.0,7.0,4.0,2.0

In [15]:
df.isna().sum()

SEQN        0
SDDSRVYR    0
RIDSTATR    0
RIAGENDR    0
RIDAGEYR    0
RIDRETH1    0
RIDRETH3    0
RIDEXMON    0
DMDBORN4    0
DMDCITZN    0
DMDEDUC2    0
DMDMARTL    0
AIALANGA    0
DMDHHSIZ    0
DMDFMSIZ    0
DMDHHSZA    0
DMDHHSZB    0
DMDHHSZE    0
DMDHRGND    0
DMDHRAGE    0
DMDHRBR4    0
DMDHREDU    0
DMDHRMAR    0
DMDHSEDU    0
WTINT2YR    0
WTMEC2YR    0
SDMVPSU     0
SDMVSTRA    0
INDHHIN2    0
INDFMIN2    0
INDFMPIR    0
DMQMILIZ    0
dtype: int64

## Check the data type of each column

In [16]:
df.dtypes

SEQN        float64
SDDSRVYR    float64
RIDSTATR    float64
RIAGENDR    float64
RIDAGEYR    float64
RIDRETH1    float64
RIDRETH3    float64
RIDEXMON    float64
DMDBORN4    float64
DMDCITZN    float64
DMDEDUC2    float64
DMDMARTL    float64
AIALANGA    float64
DMDHHSIZ    float64
DMDFMSIZ    float64
DMDHHSZA    float64
DMDHHSZB    float64
DMDHHSZE    float64
DMDHRGND    float64
DMDHRAGE    float64
DMDHRBR4    float64
DMDHREDU    float64
DMDHRMAR    float64
DMDHSEDU    float64
WTINT2YR    float64
WTMEC2YR    float64
SDMVPSU     float64
SDMVSTRA    float64
INDHHIN2    float64
INDFMIN2    float64
INDFMPIR    float64
DMQMILIZ    float64
dtype: object

# Part 3: Save the cleaned dataset

In [17]:
df.to_csv("cleaned_data/cleaned_demography_data.csv", index=False)