In [1]:
import pandas as pd

# Part 1: Datasets Combination

## Load the datasets and check the number of columns of each dataset

In [2]:
columns_to_retain = ["SEQN", "SMQ690H", "SMQ849"]

In [3]:
cigarettes_2017 = pd.read_sas("SMQRTU_I.XPT September 2017.XPT")

cigarettes_2017 = cigarettes_2017[columns_to_retain]

cigarettes_2017["SMQ690H"] = cigarettes_2017["SMQ690H"].fillna(0)

cigarettes_2017 = cigarettes_2017.fillna(cigarettes_2017.median()).round()

In [4]:
cigarettes_2018 = pd.read_sas("SMQRTU_H.XPT Updated February 2018.XPT")

cigarettes_2018 = cigarettes_2018[columns_to_retain]

cigarettes_2018["SMQ690H"] = cigarettes_2018["SMQ690H"].fillna(0)

cigarettes_2018 = cigarettes_2018.fillna(cigarettes_2018.median()).round()

In [5]:
cigarettes_2020 = pd.read_sas("SMQRTU_J.XPT February 2020.XPT")

cigarettes_2020 = cigarettes_2020[columns_to_retain]

cigarettes_2020["SMQ690H"] = cigarettes_2020["SMQ690H"].fillna(0)

cigarettes_2020 = cigarettes_2020.fillna(cigarettes_2020.median()).round()

In [6]:
cigarettes_2021 = pd.read_sas("P_SMQRTU.XPT August 2021.XPT")

cigarettes_2021 = cigarettes_2021[columns_to_retain]

cigarettes_2021["SMQ690H"] = cigarettes_2021["SMQ690H"].fillna(0)

cigarettes_2021 = cigarettes_2021.fillna(cigarettes_2021.median()).round()

In [7]:
df_e_cigarette = pd.concat([cigarettes_2017, cigarettes_2018, cigarettes_2020, cigarettes_2021], ignore_index=True)

print("Number of rows after joining the datasets should be:", len(cigarettes_2017) + len(cigarettes_2018) + len(cigarettes_2020) + len(cigarettes_2021))

Number of rows after joining the datasets should be: 30533

In [8]:
df_e_cigarette["SMQ690H"].value_counts()

0.0    29933
8.0      600
Name: SMQ690H, dtype: int64

In [9]:
# df_e_cigarette.dropna(inplace=True)
df_e_cigarette

           SEQN  SMQ690H  SMQ849
0       83732.0      0.0     3.0
1       83733.0      0.0     3.0
2       83734.0      0.0     3.0
3       83735.0      0.0     3.0
4       83736.0      0.0     3.0
...         ...      ...     ...
30528  124815.0      0.0     4.0
30529  124817.0      0.0     4.0
30530  124818.0      0.0     4.0
30531  124821.0      0.0     4.0
30532  124822.0      0.0     4.0

[30533 rows x 3 columns]

In [10]:
df_e_cigarette.isna().sum()

SEQN       0
SMQ690H    0
SMQ849     0
dtype: int64

# Part 3: Save the cleaned dataset

In [11]:
df_e_cigarette.to_csv("cleaned_data/cleaned_e-cigarettes_data.csv", index=False)